.color-box{
  background-color: red;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px
}
button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}